$textPrimary: #000000;
$textSecondary: #ffffff;

$backgroundPrimary: #e3e3e3;
$backgroundSecondary: #ffffff;

$borderRadius: 16px;

$danger: #bf0003;
$success: #00a70b;

$mobile: 480px;
$tablet: 768px;
$desktop: 1800px;

$fontSize: 16px;
$fontSizeSmall: 14px;
$fontSizeBig: 20px;
$fontSizeH1: 36px;
$fontSizeH2: 25px;
