.concept {
	@include flex($direction: row, $justify: space-between, $align: stretch, $gap: 0, $wrap: nowrap);
	min-height: 100vh;
	&:global(.container) {
		max-width: 1400px;
	}
}

.aside {
	@include flex(column, $gap: 10px, $justify: flex-start);
	font-size: $fontSizeH2;
	min-height: 100%;
	flex: 0 1 300px;
	position: relative;
	&::after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 2px;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.05);
	}
	@media (width < 1024px) {
		flex: 0 1 auto;
		padding: 0 20px 0 0;
	}
}

.button {
	width: 100%;
	text-align: left;
	font-size: $fontSizeH1;
	@media (width < 1024px) {
		font-size: $fontSizeBig;
	}
}

.content {
	@include flex(column);
	flex: 1 0 70%;
}

.active {
	font-weight: 800;
	span {
		border-bottom: 1px solid #000;
	}
}
